@import url("https://fonts.googleapis.com/css2?family=Stack+Sans+Notch:wght@200..700&family=VT323&display=swap");

.vt323-regular {
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Departure-Mono";
  src: url("/sources/font/DepartureMono-Regular.otf") format("truetype");
}
html {
  scroll-behavior: auto;
  /* For Chrome, Safari, and Opera */
  .scrollable-element::-webkit-scrollbar {
    display: none;
  }

  /* For Firefox */
  .scrollable-element {
    scrollbar-width: none;
  }

  /* For Internet Explorer and Edge */
  .scrollable-element {
    -ms-overflow-style: none;
  }
}

body {
  background-color: rgb(0, 0, 0);
  font-family: "VT323", monospace;
  margin: 0;
  overflow-x: hidden;
  width: 100vw;
}

a {
  text-decoration: none;
  color: #ffffff;
  width: 100px;
  height: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.home:hover {
  animation: navFlicker 0.4s ease-out 0s 1 forwards;
}

.about:hover {
  animation: navFlicker 0.4s ease-out 0s 1 forwards;
}

.skills:hover {
  animation: navFlicker 0.4s ease-out 0s 1 forwards;
}

.projectsTag:hover {
  animation: navFlicker 0.4s ease-out 0s 1 forwards;
}

.contact:hover {
  animation: navFlicker 0.4s ease-out 0s 1 forwards;
}

.navbar {
  font-family: "VT323", monospace;
  display: flex;
  background-color: black;
  position: sticky;
  top: 0;
  height: 50px;
  width: 100vw;
  justify-content: center;
  gap: 15%;
  margin-bottom: 40px;

  color: white;
  z-index: 2;
}

.heroTitle {
  font-family: "VT323", monospace;
  position: absolute;
  color: rgb(0, 0, 0);
  z-index: 1;
  font-size: 140%;
  transform: translateX(80%) translateY(-80%);
}

.hero {
  background-color: #000000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  height: 735px;
  position: relative;
  border-top: 30px solid white;
  border-left: 1px solid white;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  border-radius: 0;
  margin: 2%;
}

.titleR {
  font-family: "VT323", monospace;
  font-size: 150px;
  display: flex;
  width: 93.8vw;
  top: 13%;
  justify-content: left;
  align-items: center;
  position: relative;
  font-weight: lighter;
  margin-top: 5%;
  margin-bottom: 5px;
  color: white;
}

.titleK {
  font-family: "VT323", monospace;
  font-size: 150px;
  display: flex;
  width: 93.8vw;
  top: 13%;
  justify-content: left;
  align-items: center;
  position: relative;
  font-weight: lighter;
  margin-top: 5px;
  margin-bottom: 4%;
  color: white;
}

.profileGif {
  position: absolute;
  width: auto;
  height: 700px;
  top: 50%;
  left: 75%;
  transform: translate(-60%, -50%);
}

#letterR {
  animation: letterFlash 0.7s infinite;
}

#krugerSpan {
  animation: typing 0.1s forwards;
}

span.show {
  animation: typing 0.1s forwards;
}

.letter {
  opacity: 0;
}

.letter.show {
  color: rgb(255, 255, 255);
  background-color: white;
  opacity: 1;
}

.aboutMain {
  display: flex;
  flex-direction: row;
  border-radius: 0;
  height: 786px;
  margin: 2%;
  width: 96.3vw;
}

.loader {
  color: white;
}

.aboutTitle {
  font-family: "VT323", monospace;
  position: absolute;
  color: rgb(0, 0, 0);
  z-index: 1;
  font-size: 140%;
  transform: translateX(70%) translateY(-80%);
}

.about_p {
  font-family: "VT323", monospace;
  padding-left: 2%;
  position: relative;
  font-size: 40px;
  transform: translateX(0%);
  font-weight: bold;
  color: white;
  white-space: pre-wrap;
}

#aboutTag {
  background: white;
  color: black;
}

.aboutProfile {
  width: 80vw;
  position: relative;

  border-top: 30px solid white;
  border-left: 1px solid white;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
}

.about_h {
  font-family: "VT323", monospace;
  font-size: 50px;
  padding: 2%;
  font-weight: bold;
  margin-bottom: 20px;
  color: white;
}

.skillsTitle {
  font-family: "VT323", monospace;
  position: absolute;
  color: rgb(0, 0, 0);
  z-index: 1;
  font-size: 140%;
  transform: translateX(1280%) translateY(-80%);
}
.skillsMain {
  background-image: url("/sources/media/gif.gif");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: block;
  position: relative;
  border-top: 30px solid white;
  border-left: 1px solid white;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  border-radius: 0;
  width: 80vw;
  margin-left: 1%;
}

.projects {
  border-top: 30px solid white;
  border-left: 1px solid white;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  height: 786px;
  width: 95.9vw;
  margin: 2%;
}

#skillLayout {
  margin-left: 5%;
  height: 8%;
}

ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  padding: 0%;
  height: 100px;
  margin-bottom: 2px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#highLight {
  color: rgb(255, 255, 255);
  height: 100%;
  font-size: 60px;
}

#noHighLight {
  color: rgb(255, 255, 255);
  height: 100%;
  font-size: 60px;
}

.projects {
  display: flex;
  flex-direction: row;
}
.projectsTitle {
  font-family: "VT323", monospace;
  position: absolute;
  color: rgb(0, 0, 0);
  z-index: 1;
  font-size: 140%;
  transform: translateX(10%) translateY(-215%);
}

.project1 {
  width: 30.5vw;
  height: 80.5vh;
  color: white;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1.1%;
  margin-left: 1.1%;
  font-family: sans-serif;
  font-weight: bold;
}

.project1Img {
  width: 95%;
  height: auto;
  object-fit: cover;
  border: 1px solid white;
}

.project2 {
  width: 30.5vw;
  height: 80.5vh;
  color: white;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1.1%;
  margin-left: 1%;
  font-family: sans-serif;
  font-weight: bold;
}

.project2Img {
  width: 95%;
  height: auto;
  object-fit: cover;
  border: 1px solid white;
}

.test {
  color: white;
  white-space: pre-wrap;
  font-size: 20px;
}

.project3 {
  width: 30.5vw;
  height: 80.5vh;
  color: white;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1.1%;
  margin-left: 1%;
  font-family: sans-serif;
  font-weight: bold;
}

.project3Img {
  width: 95%;
  height: auto;
  object-fit: cover;
  border: 1px solid white;
}
/* Animation moves the track by exactly half its total width */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes rainbow {
  0% {
    color: red;
    filter: drop-shadow(0 0 10px red);
  }

  20% {
    color: orange;
    filter: drop-shadow(0 0 10px orange);
  }
  40% {
    color: yellow;
    filter: drop-shadow(0 0 10px yellow);
  }
  60% {
    color: green;
    filter: drop-shadow(0 0 10px green);
  }
  80% {
    color: blue;
    filter: drop-shadow(0 0 10px blue);
  }
  100% {
    color: purple;
    filter: drop-shadow(0 0 10px purple);
  }
}

@keyframes navFlicker {
  0% {
    color: white;
    background-color: black;
  }
  20% {
    color: black;
    background-color: white;
  }
  40% {
    color: white;
    background-color: black;
  }
  60% {
    color: black;
    background-color: white;
  }
  80% {
    color: white;
    background-color: black;
  }
  100% {
    color: black;
    background-color: white;
  }
}

@keyframes letterFlash {
  0% {
    color: black;
    background-color: white;
  }
  100% {
    color: white;
    background-color: black;
  }
}

@keyframes typing {
  0% {
    background: white;
  }
  100% {
    background: black;
  }
}
